.title {
  position: relative;
  display: flex;
  justify-content: center;
  left: 40px;
  right: 0;
  top: 40px;
  margin: auto;
  bottom: 0;
  color: rgb(8, 8, 8);
  font-size: 40px;
  font-weight: 500;
  font-family: sans-serif;
  width: 100%;
}

h2{
  position: relative;
  display: flex;
  justify-content: left;
  top: 50px;
  left: 365px;
  margin: auto;
  color: rgb(8, 8, 8);
  font-size: 15px;
  font-family: sans-serif;
}

p {
  position: relative;
  display: flex;
  top: 50px;
  margin: auto;
  bottom: 0;
  color: rgb(8, 8, 8);
  font-size: 20px;
  font-weight: 350;
  font-family: sans-serif;
  perspective: 340px;
  width: 50%;
  text-align:left;
  line-height: 30px; 
}

.link{
  position: relative;
  display: flex;
  top: 10px;
  margin: auto;
  color: rgb(8, 8, 8);
  font-size: 15px;
  font-weight: 350;
  font-family: sans-serif;
}

.chart1{
  position: relative;
  justify-content: center;
  margin: auto;
  left:350px;
}

.chart2{
  position: relative;
  justify-content: center;
  margin: auto;
  left:350px;
  top:-400px;
}